# Temp
.sublime/
.test/
.temp/
draft/

# Project files
.vscode/

# Templates
template/

# Office documents
*.xlsx
*.docx

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.sdf
*.opensdf
*.obj
*.idb
*.app
*.sln
*.vcxproj
*.vcxproj.*
*.suo
*.ilk
*.log
*.pdb
*.tlog
*.lastbuildstate


